Body {background-color : #D9D9D9;
}

.navbar-nav.ms-auto li a {
    color: #FFFFFF;
    font-weight:500;
}

.navbar-nav.ms-auto a:hover{
    font-weight: 700;
}

#EquiposTabla {
    padding: 0;
    margin: 0;
}


